.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.8s ease forwards;
}

.delay-1s {
  animation-delay: 1s;
}
